.container {
  height: 100%;
  /* 小屏幕 */
  @media only screen and (max-width: 767px) {
    min-height: 425px;
  }
}

img {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
}

.box {
  position: absolute;
  bottom: 20px;
  margin: 0 -15px;
  h3 {
    font-size: 21px;
    margin-bottom: 20px;
    color: #111;
  }
  p {
    font-weight: 600;
    font-size: 12.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    color: #111;
    a {
      color: #111;
    }
  }
  i {
    vertical-align: middle;
    margin-right: 15px;
    color: #111;
  }
}
